@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

:root{
  --green-color: #28DC89;
}

input{
  background-color: #262A34 !important;
}



/* .container{
  display: flex;
  flex-direction: column;

}

.element{
  padding: 5px;

}

.start{
  margin-bottom: auto;
}



.end{
  margin-top: auto;
} */




/* .card{
  display: flex;
}

.card:last-child {
  justify-content: end;
} */
